In [42]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
#show all columns to inspect the columns
pd.set_option('display.max_columns', None)

In [44]:
df = pd.read_csv('data\case_study_exercise.csv')

# Data Exploration

In [45]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,capital-gains,capital-loss,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17/10/2014,OH,250/500,1000,1406.91,0,466132,MALE,MD,craft-repair,sleeping,husband,53300,0,25/01/2015,Single Vehicle Collision,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27/06/2006,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,reading,other-relative,0,0,21/01/2015,Vehicle Theft,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,6/09/2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,sales,board-games,own-child,35100,0,22/02/2015,Multi-vehicle Collision,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25/05/1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,board-games,unmarried,48900,-62400,10/01/2015,Single Vehicle Collision,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,6/06/2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,sales,board-games,unmarried,66000,-46000,17/02/2015,Vehicle Theft,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [46]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported'],
      dtype='object')

In [47]:
missing_stats = []

for col in df.columns:
    missing_stats.append((col, 
                          df[col].nunique(), 
                          df[col].isnull().sum() * 100 / df.shape[0], 
                          df[col].value_counts(normalize=True, dropna=False).values[0], 
                          df[col].dtype))
    
stats_df = pd.DataFrame(missing_stats, columns=['feature', 'unique_values', 'percent_missing', 'largest_value_perc', 'type'])
stats_df

,feature,unique_values,percent_missing,largest_value_perc,type
0,months_as_customer,391,0.0,0.008,int64
1,age,46,0.0,0.049,int64
2,policy_number,1000,0.0,0.001,int64
3,policy_bind_date,951,0.0,0.003,object
4,policy_state,3,0.0,0.352,object
5,policy_csl,3,0.0,0.351,object
6,policy_deductable,3,0.0,0.351,int64
7,policy_annual_premium,991,0.0,0.002,float64
8,umbrella_limit,11,0.0,0.798,int64
9,insured_zip,995,0.0,0.002,int64
10,insured_sex,2,0.0,0.537,object
11,insured_education_level,7,0.0,0.161,object
12,insured_occupation,14,0.0,0.093,object
13,insured_hobbies,20,0.0,0.064,object
14,insured_relationship,6,0.0,0.183,object
15,capital-gains,338,0.0,0.508,int64
16,capital-loss,354,0.0,0.475,int64
17,incident_date,60,0.0,0.028,object
18,incident_type,4,0.0,0.419,object
19,collision_type,4,0.0,0.292,object
20,incident_severity,4,0.0,0.354,object
21,authorities_contacted,5,0.0,0.292,object
22,incident_state,7,0.0,0.262,object
23,incident_city,7,0.0,0.157,object
24,incident_location,1000,0.0,0.001,object
25,incident_hour_of_the_day,24,0.0,0.054,int64
26,number_of_vehicles_involved,4,0.0,0.581,int64
27,property_damage,3,0.0,0.360,object
28,bodily_injuries,3,0.0,0.340,int64
29,witnesses,4,0.0,0.258,int64
30,police_report_available,3,0.0,0.343,object
31,total_claim_amount,763,0.0,0.005,int64
32,injury_claim,638,0.0,0.025,int64
33,property_claim,626,0.0,0.019,int64
34,vehicle_claim,726,0.0,0.007,int64
35,auto_make,14,0.0,0.080,object
36,auto_model,39,0.0,0.043,object
37,auto_year,21,0.0,0.056,int64
38,fraud_reported,2,0.0,0.753,object

In [67]:
df.describe()

,months_as_customer,age,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_severity,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,policy_length
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000
mean,203.954000,38.948000,1136.000000,1256.406150,1.103000e+06,501214.488000,25126.100000,-26793.700000,1.74600,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000,4794 days 23:38:24
std,115.113174,9.140287,611.864673,244.167395,2.296446e+06,71701.610941,27872.187708,28104.096686,0.96458,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861,2696 days 11:41:03.773996992
min,0.000000,19.000000,500.000000,433.330000,0.000000e+00,430104.000000,0.000000,-111100.000000,0.00000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000,-20 days +00:00:00
25%,115.750000,32.000000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,1.00000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000,2495 days 06:00:00
50%,199.500000,38.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,2.00000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000,4771 days 00:00:00
75%,276.250000,44.000000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,3.00000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000,7158 days 06:00:00
max,479.000000,64.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,3.00000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000,9426 days 00:00:00

## Preprocessing the data:

### Features to remove:

- policy_number - as it is an identifyer only
- incident_location -  as each piece of data have an unique location.  It is not useable as a categorical information in current state.   To make it useable, it would need to have 

### Features to re-engineer
- new feature 'policy_length' = number of days from 'policy_bind_date' to 'incident_date' 
Makes more sense to use the dates rather than on their own, looking at the amount of time between the policy is taken out and the incident time.
Those features are removed since the information is contained within 

### Features to clean:

'?' was used to indicate as a third category from 'yes and 'no' in some of the columns.  'unknown' is imputed in its place as '?' may cause problems.
- collision_type
- police_report_available
- property_damage

### Feature to convert to ordinal
- incident_severity

### Features to remove impossible values
- umbrealla_limit
    - umbrella limit cannot be zero. Any negative values is probably an error  
- capital-loss
    - capital loss is mostly represented as negative

In [48]:
#drop policy number and incident_location as it is an index

df.drop(['policy_number', 'incident_location'], axis = 1, inplace = True)

In [53]:
# adding policy length as an additional feature and removing the two columns that generated it
df['policy_length'] = pd.to_datetime(df.incident_date) - pd.to_datetime(df.policy_bind_date)

df.drop(['incident_date', 'policy_bind_date'], axis = 1, inplace = True)

In [54]:
#replace "?" with unknown 
df['collision_type'] = df['collision_type'].replace("?", "unknown")
df['police_report_available'] = df['police_report_available'].replace("?", "unknown")
df['property_damage'] = df['property_damage'].replace("?", "unknown")

In [57]:
#incident_severity can be seen as ordinal
#code them in order of severity 

df['incident_severity'] = df['incident_severity'].map({"Trivial Damage":0,
                                                       "Minor Damage":1,
                                                       "Major Damage":2,
                                                       "Total Loss":3
                                                      }).astype("int32")
df.incident_severity.value_counts()

1    354
3    280
2    276
0     90
Name: incident_severity, dtype: int64

In [64]:
#umbrella limit cannot be zero. Any negative values is probably an error  

df[df['umbrella_limit'] <0]

Empty DataFrame
Columns: [months_as_customer, age, policy_state, policy_csl, policy_deductable, policy_annual_premium, umbrella_limit, insured_zip, insured_sex, insured_education_level, insured_occupation, insured_hobbies, insured_relationship, capital-gains, capital-loss, incident_type, collision_type, incident_severity, authorities_contacted, incident_state, incident_city, incident_hour_of_the_day, number_of_vehicles_involved, property_damage, bodily_injuries, witnesses, police_report_available, total_claim_amount, injury_claim, property_claim, vehicle_claim, auto_make, auto_model, auto_year, fraud_reported, policy_length]
Index: []

In [65]:
#converting all umbrella limit numbers to positive

df['umbrella_limit'] = df['umbrella_limit'].abs()

In [ ]:
#